.ZChartPanel {
    position : absolute;
    top: 0;
    left: 0;
    width: 200px;
    background-color: rgba(255, 255, 255, .3);
    color: #fff;
}

.ZChartPanel:hover {
    cursor: pointer;
}

ol{
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    border-top: 1px solid black;
    height: 30px;
    line-height: 30px;
}

li div {
    margin: 2px;
    padding: 1px;
}

#open-control-ol li {
    text-align: center;
    height: 20px;
    font-size: small;
}

.item-li {
    border-left: 3px solid #0066cc;
    padding-left: 20px;
    transition: all ease .3s;
}
.item-li:hover {
    padding-left: 30px;
}
.check-li label {
    margin-left: 6px;
}
.title-li {
    padding-left: 5px;
    transition: all ease-out .3s;
}
.title-li:hover {
    padding-left: 10px;

}
#source-code-area {
    width:198px;
    height: 420px;
    background-color: #222222;
    color: #FFFFFF;
}

#chart-scene {
    position: absolute;
    top:0;
    left:200px;
}

#submit-source-code {
    margin-left: 20px;
}
